appdirs==1.4.3
multi-key-dict==2.0.3
music21==2.1.2
numpy==1.12.1
packaging==16.8
pandas==0.18.1
pyparsing==2.2.0
pyspark==2.1.0+hadoop2.7
python-dateutil==2.6.0
pytz==2017.2
requests==2.11.1
six==1.10.0
vis-framework==3.0.5
