{% extends 'base.html' %}
{% block head_inject %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#files-list").dataTable({
                "aoColumns": [{"sTitle": "Filename", "mData": "Filename"}],
                "sDom": "rt<'clear'>T",
                "oTableTools": {
                    "sRowSelect": "multi",
                    "aButtons": [ "select_all", "select_none" ],
                    "sSelectedClass": "selected",
                    "fnRowSelected": function (nodes) {
                        $(this.dom.table).trigger("selectionChanged");
                    },
                    "fnRowDeselected": function (nodes) {
                        $(this.dom.table).trigger("selectionChanged");
                    }
                },
                "oLanguage": {
                    "sEmptyTable": "No files added"
                }
            });
            $("#pieces-list").dataTable({
                "aoColumns": [
                    {"sTitle": "Path", "mData": "Path"},
                    {"sTitle": "Title", "mData": "Title"},
                    {"sTitle": "Part Names", "mData": "Part Names"},
                    {"sTitle": "Offset", "mData": "Offset"},
                    {"sTitle": "Part Combinations", "mData": "Part Combinations"},
                    {"sTitle": "Repeat Identical", "mData": "Repeat Identical"}
                ],
                "sDom": "rt<'clear'>T",
                "oTableTools": {
                    "sRowSelect": "multi",
                    "aButtons": [ "select_all", "select_none" ],
                    "sSelectedClass": "selected",
                    "fnRowSelected": function (nodes) {
                        $(this.dom.table).trigger("selectionChanged");
                    },
                    "fnRowDeselected": function (nodes) {
                        $(this.dom.table).trigger("selectionChanged");
                    }
                },
                "oLanguage": {
                    "sEmptyTable": "No pieces imported"
                }
            });
            ko.applyBindings(new Wizard(), document.getElementById('wizard'));
            ko.applyBindings(new ListOfFiles(), document.getElementById('import'));
            ko.applyBindings(new ListOfPieces(), document.getElementById('analyze'));
        });
    </script>
    <style>
        img.step-img {
            max-height: 80%;
            padding-bottom: 5px;
            padding-right: 5px;
        }
        .fuelux .step-content tr.active {
            display: table-row;
        }
    </style>
{% endblock %}
{% block title %}
    vis X
{% endblock %}
{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='span2'></div>
            <div class='span8'>
                <div class="page-header">
                    <h1>vis X</h1>
                </div>
                <div id="wizard" class="wizard" data-bind="wizardStep: state">
                    <ul class="steps">
                        <li data-target="#import" class="active">
                            <span>
                                <img class="step-img" src="{{ STATIC_URL }}img/choose_files.png">
                            </span>
                            Import
                            <span class="chevron"></span>
                        </li>
                        <li data-target="#analyze">
                            <span>
                                <img class="step-img" src="{{ STATIC_URL }}img/analyze.png">
                            </span>
                            Analyze
                            <span class="chevron"></span>
                        </li>
                        <li data-target="#experiment">
                            <span>
                                <img class="step-img" src="{{ STATIC_URL }}img/show_results.png">
                            </span>
                            Experiment
                            <span class="chevron"></span></li>
                    </ul>
                    <div class="actions">
                        <button type="button" class="btn btn-mini btn-next" data-last="Visualize">
                            Next<i class="icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="step-content">
                    <div class="step-pane active" id="import">
                        <div class="well">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <a class="brand">
                                        Add files to the list so they will be imported.
                                    </a>
                                    <ul class="nav pull-right">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="icon-file"></i> Add File(s)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="icon-folder-open"></i> Add Folder(s)
                                            </a>
                                        </li>
                                        <li>
                                            <a id="remove-selected" href="javascript:void(0);"
                                               data-bind="click: removeSelected">
                                                <i class="icon-remove"></i> Remove Selected
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <table data-bind="tableData: items" class="table display datatable"
                                   id="files-list">
                                <tbody data-bind="selectedRows: selectedItems"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="step-pane" id="analyze">
                        <div class="well">
                            <table class="table display datatable" id="pieces-list"></table>
                        </div>
                    </div>
                    <div class="step-pane" id="experiment">This is step 3</div>
                </div>
            </div>
            <div class='span2'></div>
        </div>
    </div>
{% endblock %}
