# These packages are optional for vis.
# Improved performance for pandas.
numexpr>=2.2.2
Bottleneck>=0.7.0

# Required for "tables"
# cython>=0.19
# Additional output formats for pandas (HDF5 and Excel).
# NB: commented "tables" until we actually use HDF5 for Hadoop.
# tables>=3.0.0
openpyxl>=1.6.2

# Code analysis to make sure we comply by PEP 8, and PEP 257 standards.
pylint

# Plotting tools.
# scipy==0.16.0
# matplotlib==1.5.1
# NB: commenting out scipy and matplotlib to lighten installation.

# For testing, coverage, stuff like that.
mock==1.0.1
coverage
python-coveralls
