# These packages are required for vis.
# Certain functionality will be missing; see optional_requirements.txt.
# music21>=2.0.3,<2.1
-e git://github.com/cuthbertLab/music21.git@3fb33def708602485eadc1a655ede2fe22acb766 # Use this until released
pandas>=0.14.1,<0.17
mock>=1.0.1
coverage
python-coveralls
six
