# These packages are required for vis.
# Certain functionality will be missing; see optional_requirements.txt.
# music21>=2.0.3,<2.1
-e git://github.com/cuthbertLab/music21.git@b1c2b36af19dd7218672b568a29290365ff1af97 # Use this until released
pandas>=0.14.1,<0.16
mock>=1.0.1
coverage
python-coveralls
six
